{% extends 'layout.html.twig' %}

{% block content %}
    {% if form is same as(true) %}
        <div class="container center">{{ "demande_contact_ok" | trans }}</div>
    {% else %}
        {{ form_start(form) }}
        {% for widget in form %}
            {% if widget.vars.block_prefixes[1] == 'submit' %}
                <div class="form-group">
                    <div class="g-recaptcha" data-sitekey="6Le41GwUAAAAANSBGml8877-JtZB5TGaymzuG6sT"></div>
                </div>
            {% endif %}

            <div class="form-group">
                {% if widget.vars.block_prefixes[1] != 'hidden' %}
                        {{ form_label(widget) }}
                {% endif %}
                {% if widget.vars.block_prefixes[1] == 'choice'%}
                    {% set select2 = ' select2' %}
                {% else %}
                    {% set select2 = '' %}
                {% endif %}

                {{ form_widget(widget,{'attr':{'class':'form-control'~select2}}) }}

                {% if widget.vars.block_prefixes[1] != 'submit' and widget.vars.block_prefixes[1] != 'hidden' %}
                    {{ form_errors(widget) }}
                {% endif %}
            </div>

        {% endfor %}
        {{ form_rest(form) }}
        {{ form_errors(form) }}
        {{ form_end(form) }}
    {% endif %}
{% endblock %}


{% block dep %}
    "https://www.google.com/recaptcha/api.js",
{% endblock dep %}