{% extends 'layout.html.twig' %}

{% block content %}
    {{ include ('zones.html.twig')  }}
    <div class="contact_forms hack-inline">
        <div class="gmap gauche">
            <div class="iframe">
                {{ infos.gmap | raw }}
            </div>
            <div class="hack-inline grid-2 infos">
                <ul class="element">
                    <li>{{ infos.name }}</li>
                    <li>{{ infos.adress }}</li>
                    <li>{{ infos.cp ~ ' '~ infos.city }}</li>
                    <li>Tel : {{ infos.tel }}</li>
                </ul>
                <ul>
                    <li>{{ "Toute l'équipe "~ infos.name ~" est à votre disposition : " | trans }}</li>
                    <li>{{ "Du lundi au jeudi : " | trans }}
                        <ul>
                            <li>{{ '8h00 - 12h00' | trans}}</li>
                            <li>{{ '13h30 - 17h30' | trans}}</li>
                        </ul>
                    </li>
                    <li>
                        {{ 'Et le vendredi : ' | trans }}
                        <ul>
                            <li>{{ '8h00 - 12h00' | trans }}</li>
                        </ul>
                    </li>
                </ul>
            </div>

        </div>
        <div class="form droite">
            {% if form is same as(true) %}
                <div class="container center">{{ "demande_contact_ok" | trans }}</div>
            {% else %}
                {{ form_start(form) }}
                {% for widget in form %}
                    {% if widget.vars.block_prefixes[1] == 'submit' %}
                        <div class="form-group">
                            <div class="g-recaptcha" data-sitekey="6Le41GwUAAAAANSBGml8877-JtZB5TGaymzuG6sT"></div>
                        </div>
                    {% endif %}

                    <div class="form-group">
                        {% if widget.vars.block_prefixes[1] != 'hidden' %}
                            {{ form_label(widget) }}
                        {% endif %}
                        {% if widget.vars.block_prefixes[1] == 'choice'%}
                            {% set select2 = ' select2' %}
                        {% else %}
                            {% set select2 = '' %}
                        {% endif %}

                        {{ form_widget(widget,{'attr':{'class':'form-control'~select2}}) }}

                        {% if widget.vars.block_prefixes[1] != 'submit' and widget.vars.block_prefixes[1] != 'hidden' %}
                            {{ form_errors(widget) }}
                        {% endif %}
                    </div>

                {% endfor %}
                {{ form_rest(form) }}
                {{ form_errors(form) }}
                {{ form_end(form) }}
            {% endif %}
            <img src="{{ asset('img/barres2.png') }}" alt="barres" class="barres"/>
        </div>

    </div>

{% endblock %}


{% block dep %}
    "https://www.google.com/recaptcha/api.js",
{% endblock dep %}