<footer>
    <div class="container footer">
        <div class="top">
            <ul class="infos">
                <li class="tel"><a href="tel:{{ infos.tel }}">{{ infos.tel }}</a></li>
                <li class="mailto">{{ infos.mail }}</li>
            </ul>
            <ul class="rs">
                <li class="mailto"><a><i class="fal fa-envelope centerXY"></i></a></li>
                <li><a href="{{ infos.facebook }}"><i class="fab fa-facebook-f centerXY"></i></a></li>
                <li><a href="{{ infos.twitter }}"><i class="fab fa-twitter centerXY"></i></a></li>
            </ul>
        </div>
        <div class="logo flex">
            <div class="img">
                <img src="{{ asset('img/logo.png') | thumb(30 )}}" alt="Logo {{ infos.name }}" class="block"/>
            </div>
        </div>
        <div class="bottom">
            {% if partners is not null %}
                <ul class="partners hack inline center">
                    {% for partner in partners %}
                        <li class="inline-block">
                            <a href="{{ partner.url }}">
                                <img src="{{ asset('uploads/'~partner.photos.0.path) | thumb(75) }}" alt="{{ partner.name }}"/>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>
</footer>