<footer class="hack-inline">
    <div class="logo_footer w20">
        <div class="logo flex photo">
            <img src="https://www.farmarredi.fr/img/logo_edc_white.png" alt="Logo {{ infos.name }}" class="contain"/>
        </div>
    </div>
    <div class="w5 line_footer"></div>
    <div class="adresse_footer w15">
        <h3>Adresse</h3>
        <p>{{ infos.adress}}<br/>{{ infos.cp }} {{ infos.city }}</p>
    </div>
    <div class="tel_footer w15">
        <h3>Téléphone</h3>
        <p><a href="tel:{{ infos.tel }}">{{ infos.tel }}</a></p>
    </div>
    <div class="mail_footer w15">
        <h3>E-Mail</h3>
        <p class="mailto">{{ infos.mail }}</p>
    </div>
    <div class="w15"></div>
    <div class="edco_footer w20">
        Logo EdCo
    </div>
</footer>