{% import _self as recursiveMacro %}
{% macro recursivePage(page,locale) %}
    {% import _self as self %}
    {% if page.remove == 0 %}

        <li>
            <a href="{% if page.url(locale) is not null%}
                {{ path('page',{'_locale':locale,'slug':page.url(locale).url}) }}
            {% endif %}">
                {{  page.detail(locale).name}}
            </a>

            {% if page.childs |length %}
                <ul class="sub_menu">
                    {% for child in page.childs %}
                        {{ self.recursivePage(child,locale) }}
                    {% endfor %}
                </ul>
            {% endif %}
        </li>
    {% endif %}
{% endmacro %}

<header>
    <div class="logo">
        <img src="{{ asset('img/logo.png') | thumb(70) }}"/>
    </div>
    <nav class="flex">
        <div class="box_photo">
            <div class="photo">
                <img src="{{ asset('img/menu.jpg') }}" alt="Photo menu"/>
            </div>
        </div>
        <ul id="menu" class="flex flex_column justify_center    ">
            {% for page in pages  | slice(1) %}
                {{  recursiveMacro.recursivePage(page,locale) }}
            {% endfor %}
        </ul>
        <ul class="rs">
            <li><a href="{{ infos.facebook }}"><i class="fab fa-facebook-f centerXY"></i></a></li>
            <li><a href="{{ infos.twitter }}"><i class="fab fa-twitter centerXY"></i></a></li>
        </ul>
    </nav>

    <div class="btn_menu absolute">
        <span class="title">Menu</span>
        <span class="barres">
            <i class="left" aria-hidden="true"></i>
            <i class="center" aria-hidden="true"></i>
            <i class="right" aria-hidden="true"></i>
        </span>
    </div>
</header>