<div class="bande_rs">
    <div class="w80">
        <ul class="block flex">
            <li class="element apparition apparition_bottom">
                <ul class="links">
                    <li><a href="">{{ 'Médical - Para Médical' | trans }}<img src="{{ asset('img/pharmacie.png') | thumb(150) }}"/></a></li>
                    <li><a href="">{{ 'Bâtiment' | trans }}<img src="{{ asset('img/batimt.png')  | thumb(150)  }}"/> </a></li>
                    <li><a href=""> {{ 'Hôtels - restaurants' | trans }}<img src="{{ asset('img/hotel-resto.png')  | thumb(150) }}"/> </a></li>
                    <li><a href=""> {{ 'Juridique' | trans }}<img src="{{ asset('img/juridique.png')  | thumb(150) }}"/> </a></li>
                    <li><a href=""> {{ 'Tourisme' | trans }}<img src="{{ asset('img/tourisme.png')  | thumb(150) }}"/> </a></li>
                    <li><a href=""> {{ 'Beauté esthétique' | trans }}<img src="{{ asset('img/esthetique.png')  | thumb(150)}}"/></a></li>
                    <li><a href=""> {{ 'Professions libérales' | trans }}<img src="{{ asset('img/prof-liberales.png') | thumb(150) }}"/></a></li>
                </ul>
            </li>
            <li class="flex flex_column justify_center apparition apparition_bottom">
                <a href="{{ infos.facebook }}" class="block flex_0">
                    <img src="{{ asset('img/post.png') }}" alt="Facebook" class="block icon"/>
                    <span class="title">Facebook</span>
                    <span class="subtitle">{{ 'Suivez-nous' | trans }}</span>

                </a>
            </li>
            <li class="flex flex_column justify_center apparition apparition_bottom">
                <a href="{{ url_extranet }}" target="_blank" class="block flex_0">
                    <img src="{{ asset('img/extranet.png') }}" alt="Extranet" class="block icon"/>
                    <span class="title">Extranet</span>
                    <span class="subtitle">{{ 'Se connecter' | trans }}</span>

                </a>

            </li>
            <li class="flex flex_column justify_center apparition apparition_bottom">
                <a href="" class="flex_0 block">
                    <img src="{{ asset('img/tel.png') }}" alt="Telephone" class="block icon"/>
                    <span class="title">{{ 'Actualité' | trans }}</span>
                    <span class="subtitle">{{ 'En savoir plus' | trans }}</span>
                </a>
            </li>
        </ul>
    </div>
</div>