<div class="bande_diapo{{ (zone.detail(locale).title == null and zone.prio > 0) ? ' notext' : '' }}">
    {% if zone.photos.count() > 0  %}
        <div class="owl-carousel slider">
            {% for photo in zone.photos %}
                <div class="slide photo flex" data-id="{{ photo.id }}">
                    <img src="{{ asset('uploads'~ photo.path ) | thumb(1000) }}"/>
                </div>
            {% endfor %}
        </div>
    {% endif %}

    {% if zone.prio == 0  %}
        {% set h1 = page.detail(locale).h1 | split(' ') %}
        <h1 class="apparition apparition_top">{% if h1 | length  == 1 %}<span></span>{% endif %}{% for word in h1 %} <span>{{ word }}</span>{% endfor %}</h1>
    {% elseif zone.detail(locale).title is not null %}
        {% set h1 = zone.detail(locale).title | split(' ') %}
        <h2 class="apparition apparition_top">{% if h1 | length  == 1 %}<span></span>{% endif %}{% for word in h1 %} <span>{{ word }}</span>{% endfor %}</h2>
    {% endif %}
    {% if zone.prio == 0 %}
        <a href="#" class="adherer apparition apparition_left">{{ 'Adhérer' | trans }}</a>
    {% endif %}
</div>