<div class="documents">
    <span class="title">{{ zone.detail(locale).title }}</span>
    <h2>{{ 'Télécharger' | trans }}</h2>

    <div class="hack-inline">
        {% for document in zone.documents %}
            <div class="document">
                {{ dump(document) }}
                <a href="{{ asset('upload/'~ document.file.file) }}"><i class="fa fa-document"></i>{{ document.name }}</a>
            </div>
        {% endfor %}
    </div>
</div>