<div class="zone photo100_texte">
    {% if zone.photos.count() > 0 %}
        <div class="box_photo flex apparition apparition_bottom">
            <div class="box">
                <div class="photo" data-id="{{ zone.photos.0.id }}">
                    <img src="{{ asset('uploads/' ~ zone.photos.0.path) | thumb(1000) }}" alt="{{ zone.photos.0.detail(locale).title }}"/>
                </div>
            </div>
        </div>
    {% endif %}
    <div class="texte apparition apparition_bottom">
        <div class="titles">
            {% if zone.detail(locale).title  is not null%}
                <h3>{{ zone.detail(locale).title }}</h3>
            {% endif %}
            {% if zone.detail(locale).title2  is not null%}
                <h4>{{ zone.detail(locale).title2 }}</h4>
            {% endif %}
        </div>
        {{ zone.detail(locale).description | raw }}
    </div>
</div>