<div class="texte_photo_center">
    <div class="container apparition {{ (loop.index is odd) ? 'apparition_right' : 'apparition_left' }}">
        <div class="flex">
            {% if zone.photos.count > 0 %}
                <div class="gauche">
                    <div class="photo" data-id="{{ zone.photos[0].id }}">
                        <img src="{{ zone.photos[0].path | thumb(1000) }}"/>
                    </div>
                </div>
            {% endif %}
            <div class="droite">
                <h2>{{ zone.detail(locale).title }}</h2>
                <div class="description">
                    {{ zone.detail(locale).description | raw }}
                </div>
            </div>
        </div>
    </div>
    {% if zone.prio == page.zones.count -1 %}
        <img src="{{ asset('img/barres.png') }}" class="bg_barres" alt="barres"/>
        <div class="adherer">
            <a href="#">
                {{ 'adherer' | trans }}
            </a>
        </div>
    {% endif %}
</div>